body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}
nav {
  background-color: rgb(29, 29, 29);
  border-bottom: white;
}
.nav-items {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.navbar-collapse {
  flex-grow: 0;
}

/*Sidescroll*/
.list-container {
  width: 100%;
  display: flex;
  overflow-x: auto;
  margin: 1rem auto;
  background-color: rgb(2, 2, 2);
}

.movie-card {
  flex: 0 0 auto;
}

#root {
  background-color: rgb(29, 29, 29);
}
h2 {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: rgb(206, 199, 199);
  background: linear-gradient(-10deg, #d41111, #000000, #31303d);
  font-weight: bolder;
  font-style: oblique;
}
.card-button {
  background-color: black;
  color: white;
}
.card-button:hover {
  background-color: rgb(22, 22, 22);
  color: white;
}
button.search-button.btn.btn-secondary {
  background-color: black;
}
button.search-button.btn.btn-secondary:hover {
  background-color: rgb(22, 22, 22);
}
button.modal-button.btn.btn-secondary {
  background-color: rgb(36, 2, 2);
}

.hero-image {
  background-color: rgb(29, 29, 29);
  margin-top: 0;
  background-image: url("it.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.card-body {
  background-color: black;
  color: white;
}
